<h1><%= @author.name %></h1>
<p><strong>Birth Date:</strong> <%= @author.birth_date %></p>

<h2>Books by <%= @author.name %>:</h2>
<ul>
  <% @author.books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>

